
<!--<mat-sidenav-container class="sidenav-container" class="p-3 mb-2 bg-danger text-white">-->
<!--  <mat-sidenav #drawer class="sidenav" fixedInViewport-->
<!--               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"-->
<!--               [mode]="(isHandset$ | async) ? 'over' : 'side'"-->
<!--               [opened]="(isHandset$ | async) === false">-->
<!--    <mat-toolbar class="p-3 mb-2 bg-danger text-white" >Menu</mat-toolbar>-->
<!--    <mat-nav-list class="p-3 mb-2 bg-danger text-white">-->
<!--      <a mat-list-item href="#">Herois</a>-->
<!--      <a mat-list-item href="#">HQS</a>-->
<!--      <a mat-list-item href="#">AAAA</a>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <mat-toolbar class="p-3 mb-2 bg-danger text-white">-->
<!--      <button-->
<!--        type="button"-->
<!--        aria-label="Toggle sidenav"-->
<!--        mat-icon-button-->
<!--        (click)="drawer.toggle()"-->
<!--        *ngIf="isHandset$ | async">-->
<!--        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
<!--      </button>-->
<!--      <span>Herois Marvel</span>-->
<!--    </mat-toolbar>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
    <!-- Add Content Here -->


<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">-->
<!--  <form class="form-inline" action="/action_page.php">-->
<!--    <input class="form-control mr-sm-2" type="text" placeholder="Search">-->

<!--  </form>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    <router-outlet>
    </router-outlet>


