<div class="card img-fluid mt-4"  >
  <div class="bg-image hover-overlay hover-zoom hover-shadow ripple " >
    <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
         class=" card-image img-fluid  text-center img-responsive  "/>
    <a href="{{character.urls[0].url}}">

    </a>
  </div>

<!--  card tittle-->
  <div class="card-body rounded mx-auto d-block text-center ">

    <h1 class="card-title text-justify font-italic">{{character.name}}</h1>
<!--      <details *ngIf="character.description">-->
<!--        <p class="justify-content-center " >{{character.description}}</p>-->
<!--      </details>-->
<!--    end card tittle-->

  </div>
  <div>
    <button type="button" class="btn btn-outline-info btn-sm img-fluid rounded mx-auto d-block text-center   " target="_blank" >
      <a href="{{character.urls[0].url}}" >Mais informações</a></button>
  </div>
  <br>
</div>









<!--<div class="content">-->
<!--  <mat-card class="mat-elevation-z4">-->
<!--    <img mat-card-image src={{character.thumbnail.path}}.{{character.thumbnail.extension}} alt="{{character.thumbnail.name}}">-->
<!--    <mat-card-title>-->
<!--      {{character.name}}-->
<!--    </mat-card-title>-->

<!--    <mat-card-footer>-->
<!--      <a href="{{character.urls[0].url}}" target="_blank" fxFllex mat-flat-button color="warn">Detalhes</a>-->
<!--    </mat-card-footer>-->
<!--  </mat-card>-->
<!--</div>-->



